<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TIB.DL.Claim.Properties.Settings.ConnectionString"
            connectionString="Data Source=alpha.talisman.co.id;Initial Catalog=TALYS;Persist Security Info=True;User ID=sa;Password=Fadli2018w!;Max Pool Size=500;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>